<div class="page">
  <div class="header">
    <h2>Joueurs libres</h2>
    <p class="subtitle">Membres sans équipe (joueurs, coachs, etc.)</p>
  </div>

  <div class="stats">
    <div class="stat-card">
      <h3>{{ filteredListLibres().length }}</h3>
      <p>Total membres libres</p>
    </div>
  </div>

  <app-membres-filtres
    [(search)]="search"
    [(filterRole)]="filterRole"
    (ajouter)="openModalAjout()"
  />

  <app-membres-table
    [membres]="filteredListLibres()"
    type="libre"
    emptyMessage="Aucun membre libre trouvé."
    (detail)="openDetail($event)"
    (assign)="openModalTeam($event)"
    (delete)="openModalConfirm($event)"
  />

  <h2 class="section-title">🚫 Membres inactifs</h2>
  <app-membres-table
    [membres]="filteredListInactifs()"
    type="inactif"
    emptyMessage="Aucun membre inactif."
    (detail)="openDetail($event)"
    (activate)="openModalActive($event)"
  />
</div>

@if (modalDetailIsOpen()) {
  <app-modal-detail-inactif
    [membre]="selectedJoueur()!"
    (close)="closeModal()"
    (activate)="openModalActive(selectedJoueur()!)"
    (assign)="openModalTeam($event)"
    (delete)="openModalConfirm(selectedJoueur()!)"
  />
}

@if (modalAjoutIsOpen()) {
  <app-membres-ajout
    (cancelmodal)="modalAjoutIsOpen.set(false)"
    (confirmmodal)="modalAjoutIsOpen.set(false)">
  </app-membres-ajout>
}

@if (modalConfirmIsOpen()) {
  <app-modal-confirm
    (cancel)="closeModalConfirm()"
    (confirm)="deleteJoueur(selectedIdToDelete()!)"
    [message]="confirmMessage()">
  </app-modal-confirm>
}

@if (modalActiveIsOpen()) {
  <app-modal-confirm
    (cancel)="closeModalActive()"
    (confirm)="activateMember(selectedJoueur()!)"
    [message]="confirmMessage()">
  </app-modal-confirm>
}
@if ((modalTeamIsOpen())) {
  <app-modal-assign-team
  (cancel)="closeModalTeam()"
  (confirm)="assignMemberToTeam($event)"
  [equipes]="equipe()"
  >
  </app-modal-assign-team>

}
