<div class="filters-card">
  <div class="filter-group">
    <label for="nom">
      Nom du club
    </label>
    <input
      id="nom"
      type="text"
      [(ngModel)]="search"
      placeholder="Rechercher un club...">
  </div>
  <div class="filter-group">
    <label for="local">
      Local
    </label>
    <input
      id="local"
      type="text"
      [(ngModel)]="local"
      placeholder="Rechercher une ville...">
  </div>
  <div class="add-container">
    <button
      class="btn-add"
      (click)="openAddModal.emit()">
      <i class="pi pi-plus"></i>
      Ajouter un club
    </button>
  </div>
</div>
