  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-header">
        <h2>Détails du club</h2>
        <button
          type="button"
          class="close-button"
          (click)="close.emit()">
          ✕
        </button>
      </div>
      <div class="modal-body">
        <div class="detail-row">
          <label>Nom</label>
          <p>{{ club().nom }}</p>
        </div>
        <div class="detail-row">
          <label>Local</label>
          <p>{{ club().local }}</p>
        </div>
        <div class="detail-row">
          <label>Nombre d'équipes</label>
          <p>{{ club().equipes.length }}</p>
        </div>
        <div class="detail-row">
          <label>Équipes</label>
          @if (club().equipes.length > 0) {
            <ul>
              @for (equipe of club().equipes; track equipe) {
                <li>{{ equipe }}</li>
              }
            </ul>
          } @else {
            <p>Aucune équipe</p>
          }
        </div>
      </div>
     <div class="modal-footer">
       <button
       type="button"
       class="btn-delete"
       (click)="delete.emit(club())">
         Supprimer 🗑
     </button>
      </div>
    </div>
  </div>

