<div class="page">
  <!-- TITRE -->
  <h1>
    Gestion des clubs
  </h1>
  <!-- STATISTIQUE -->
  <div class="stats-card">
    <div class="stat-icon">
      <i class="pi pi-shield"></i>
    </div>
    <div class="stat-content">
      <span>
        Total clubs
      </span>
      <strong>
        {{ filteredClubs().length }}
      </strong>
    </div>
  </div>
  <!-- FILTRES -->
  <app-club-filtres
  [(search)]="search"
  [(local)]="local"
  (openAddModal)="openAddModal()"
  >
  </app-club-filtres>
  <!-- TABLEAU -->
  <app-club-table
    [clubs]="filteredClubs()"
    (detail)="openDetail($event)"
    (delete)="openConfirm('Voulez vous supprimé ce club ? ', $event)">
  </app-club-table>
  <!-- MODAL DETAIL -->
  @if (detailVisible && selectedClub) {
  <app-modal-detail-club
    (close)="closeDetail()"
    (delete)="openConfirm('Voulez vous supprimé ce club ? ', $event)"
    [club]="selectedClub">
  </app-modal-detail-club>
}
  <!-- MODAL AJOUT -->
  @if (addModalVisible) {
    <div class="modal-overlay">
      <div class="modal">
        <h2>
         Ajouter un club
        </h2>
        <div class="form-group">
          <label>
            Nom du club
          </label>
          <input
            type="text"
            [(ngModel)]="newClub.nom"
            placeholder="Nom du club">
       </div>
        <div class="form-group">
          <label>
            Localisation
          </label>
          <input
            type="text"
            [(ngModel)]="newClub.local"
            placeholder="Ville">
        </div>
        <div class="modal-actions">
          <button
           class="btn-cancel"
            (click)="closeAddModal()">
            Annuler
          </button>
          <button
            class="btn-save"
            (click)="addClub()">
            Ajouter
          </button>
        </div>
      </div>
    </div>
  }
</div>
@if (modalConfirmIsOpen()){
  <app-modal-confirm
    [message]="confirmMessage()"
    (confirm)="supprimerClub()"
    (cancel)="closeConfirm()">
  </app-modal-confirm>
}
